<?xml version="1.0" ?>
<root>
	<experiment>
		<timestep>18.0</timestep>
		<xy_goal_tolerance>41.0</xy_goal_tolerance>
		<max_steps>13</max_steps>
		<some_param1>42</some_param1>
		<some_param2>7.0</some_param2>
		<c_param>True</c_param>
		<d_param>abcd</d_param>
	</experiment>
	<algorithm name="test_alg">
		<a_param>85</a_param>
		<b_param>89.0</b_param>
		<c_param>False</c_param>
		<d_param>abc</d_param>
	</algorithm>
</root>