<?xml version="1.0" ?>
<root>
	<experiment>
		<timestep>100.0</timestep>
		<xy_goal_tolerance>56.0</xy_goal_tolerance>
		<max_steps>61</max_steps>
		<some_param1>87</some_param1>
		<some_param2>8.0</some_param2>
		<c_param>True</c_param>
		<d_param>abcd</d_param>
	</experiment>
	<algorithm name="test_alg">
		<a_param>75</a_param>
		<b_param>20.0</b_param>
		<c_param>False</c_param>
		<d_param>abc</d_param>
		<array_param>[1.0, 2.0, 3.0, 4.0]</array_param>
		<matrix_param>[[-1.0, -1.0, -1.0], [-1.0, -1.0, -1.0]]</matrix_param>
	</algorithm>
</root>